// main: ../style.less

.header {
  width: 100%;
  padding: 1.125rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 0px 0px fadeout(@shadow-color, 90%);

  &__logo {
    font: 700 1.5rem / 2rem @font-primary;
    color: @text-color-dark;
    text-decoration: none;
  }
}

.navigation {
  width: 100%;
  margin: 1.5rem 0 0;
  order: 1;

  @media @tablet {
    margin: 0 3.5rem 0 auto;
    width: auto;
    order: 0;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 1.5rem;
  }

  &__link {
    position: relative;
    display: block;
    font: 400 1rem / 1.5rem @font-primary;
    color: @text-color-mid;

    &::after{
      position: absolute;
      top: 2.55rem;
      width: 100%;
      display: block;
      content: '';
      opacity: 0;
      height: 2px;
      background-color: @primary-color;
      transition: 0.3s ease;

      @media @tablet {
        top: 3.2rem;
      }
    }

    &:focus {
      color: @text-color-dark;

      &::after {
        opacity: 1;
      }
    }
  }
}

.user {
  display: flex;
  align-items: center;

  &__name {
    margin-right: 0.75rem;
    font: 400 1rem / 1.5rem @font-primary;
    color: @primary-color;
  }

  &__photo {
    .circle(2.75rem);
    display: block;
    background-color: @photo-bg-color;
    font-size: 1.2rem;
    line-height: 2.75rem;
    text-align: center;
  }
}
