// main: ../style.less

.main {
  padding: 2.5rem 5%;

  @media @tablet {
    padding-right: 3.125rem;
    padding-left: 3.125rem;
  }

  &__wrapper {
    max-width: @max-width;
    margin: auto;
  }

  &__title {
    margin: 0;
    font: 700 2.5rem / 3rem @font-primary;
  }

  &__subtitle {
    max-width: 45rem;
    margin: .75rem 0 0;
    font: 400 1rem / 1.5rem @font-secondary;
  }

  &__form {
    margin-top: 2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;

  @media @tablet {
    flex-direction: row;
  }

  &__search-input {
    width: 100%;
    padding: 1rem 2.5rem;
    font: 400 1rem / 1.5rem @font-secondary;
    border: none;
    border-radius: 4px;
    background: no-repeat url('../../images/icons/search.svg') 1rem ;
    outline: none;
    .shadow();

    &:focus {
      box-shadow: 0 0 0 2px @primary-color;
    }
  }

  &__country {
    margin-top: 1rem;

    @media @tablet {
      margin-top: 0;
      margin-left: 1.25rem;
    }
  }
}

.country {
  position: relative;
  width: 100%;
  padding: .375rem 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  .shadow();

  @media @tablet {
    width: 16.25rem;
  }

  &:focus-within {
    box-shadow: 0 0 0 2px @primary-color;
  }

  &__title {
    font: 400 .8rem / 1.25rem @font-secondary;
    color: @text-color-mid;
  }

  &__select {
    font: 400 1rem / 1.5rem @font-secondary;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    outline: none;
  }

  &__close,
  &__open {
    position: absolute;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__open {
    right: 1rem;
  }

  &__close {
    right: 3rem;
  }
}

.courses {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  &__item {
    width: 100%;
    max-width: 400px;
  }
}
