// main: ../style.less

.profile {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @bg-color;

  &__wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0;
    background-color: @form-bg-color;
    border-radius: 8px;
    .shadow();

    @media @tablet {
      margin: 2rem 0;
      width: 29.625rem;
      min-height: 0;
    }
  }

  &__header {
    padding: 0 2rem;
    border-bottom: 1px solid @bg-color;
  }

  &__navigation.navigation {
    justify-content: start;
    padding: 1rem 0;

    .navigation__link::after {
      top: 2.45rem;
    }
  }

  &__title {
    margin: 0;
    font: 700 2rem / 2.5rem @font-primary;
  }

  &__form {
    margin-top: 1.5rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 2rem;
  background-color: @social-bg-color;

  &__title {
    margin: 0;
    font: 400 .8rem / 1.25rem @font-secondary;
    color: #000;
  }

  &__list {
    display: flex;
    gap: .5rem;
  }

  &__link {
    display: block;
    .circle(2.25rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @form-bg-color;

    @media @desktop {
      &:hover {
        background-color: @social-bg-color;
      }
    }
  }
}

.form {
  &__input {
    padding: 1rem;
  }

  &__policy {
    margin-bottom: .75rem;
  }
}

.policy {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__input {
    .visually-hidden();
  }

  &__input:checked + &__box {
    background: no-repeat url('../../images/icons/check.svg') center;
  }

  &__box {
    display: block;
    margin-right: 0.75rem;
    min-width: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
  }

  &__description {
    font: 400 1rem / 1.5rem @font-secondary;
    color: @text-color-dark;
  }

  &__link {
    color: @primary-color;
  }

}
